
<% if @book.errors.any? %>

    <strong class = "error_messages_caption">
    	<%= @book.errors.count%>
    	errors prohibited this book from being saved:
    </strong>

    <div class = "error_messages">
        <ul>
  	        <% @book.errors.full_messages.each do |message|%>
  	            <li><%= message %></li>
  	        <% end %>
        </ul>
    </div>

<% end %>

